/* src/App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212; /* Dark background color */
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px; /* Reduced font size */
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
}

button:active {
  background-color: #21a1f1;
  outline: none;
}

@media (max-width: 600px) {
  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
